{#
 # Sharif Judge
 # file: assignments.twig
 # author: Mohammad Javad Naderi <mjnaderi@gmail.com>
 #}
{% set selected = 'problems' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-puzzle-piece{% endblock %}
{% block title %}Problems{% endblock %}
{% block head_title %}Problems{% endblock %}



{% block title_menu %}
{% if user.level >= 2 %}
<span class="title_menu_item"><a href="{{ site_url('problems/add') }}"><i class="fa fa-plus color8"></i> Add</a></span>
{% endif %}
{% endblock %}



{% block main_content %}
{% set msgclasses = {'success': 'shj_g', 'notice': 'shj_o', 'error': 'shj_r'} %}

{% if all_problems|length == 0 %}
	<p style="text-align: center;">Nothing to show...</p>
{% else %}
<br/>
<table class="sharif_table">
<thead>
<tr>
    <th>#</th>
	<th>标题</th>
	<th>提交</th>
	<th>AC%</th>
	<th>难度</th>
	{% if user.level > 0 %}
	<th>Actions</th>
	{% endif %}
</tr>
</thead>
{% for item in all_problems %}
<tr>
    <td><a href="{{ site_url('problems/'~item.id) }}">{{ item.id }}</a></td>
	<td><a href="{{ site_url('problems/'~item.id) }}">{{ item.name }}</a></td>
	<td>{{ item.total_submits }}</td>
	<td>{{ item.acpercent }}</td>
	<td>{{ item.hard }}</td>
	{% if user.level > 0 %}
	<td>
		{% if user.level >= 2 %}
			<!--<a href="{{ site_url('problems/downloadtestsdesc/'~item.id) }}"><i title="Download Tests and Descriptions" class="fa fa-cloud-download fa-lg color11"></i></a>
		{% endif %}
		{% if user.level >= 1 %}
			<a href="{{ site_url("problems/download_submissions/by_user/#{item.id}") }}"><i title="Download Final Submissions (by user)" class="fa fa-download fa-lg color12"></i></a>
			<a href="{{ site_url("problems/download_submissions/by_problem/#{item.id}") }}"><i title="Download Final Submissions (by problem)" class="fa fa-download fa-lg color2"></i></a>
		{% endif %}
		{% if user.level >= 2 %}
			<a href="{{ site_url('moss/'~item.id) }}"><i title="Detect Similar Codes" class="fa fa-shield fa-lg color7"></i></a>-->
			<a href="{{ site_url('problems/edit/'~item.id) }}"><i title="Edit" class="fa fa-pencil fa-lg color3"></i></a>
			<a href="{{ site_url('problems/delete/'~item.id) }}"><i title="Delete" class="fa fa-times fa-lg color1"></i></a>
		{% endif %}
	</td>
	{% endif %}
</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}  {# main_content #}